<div>
    <!-- GITHUB: Follow me -->
    <a class="github-button" href="https://github.com/cliffhall" data-count-href="/cliffhall/followers" data-count-api="/users/cliffhall#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @cliffhall on GitHub">Follow @cliffhall</a>

    <!-- GITHUB: Watch project -->
    <a class="github-button" href="https://github.com/cliffhall/angular-firebase-user-profiles" data-icon="octicon-eye" data-count-href="/cliffhall/angular-firebase-user-profiles/watchers" data-count-api="/repos/cliffhall/angular-firebase-user-profiles#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch cliffhall/angular-firebase-user-profiles on GitHub">Watch</a>

    <!-- GITHUB: Star -->
    <a class="github-button" href="https://github.com/cliffhall/angular-firebase-user-profiles" data-icon="octicon-star" data-count-href="/cliffhall/angular-firebase-user-profiles/stargazers" data-count-api="/repos/cliffhall/angular-firebase-user-profiles#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star cliffhall/angular-firebase-user-profiles on GitHub">Star</a>

    <!-- GITHUB: Fork -->
    <a class="github-button" href="https://github.com/cliffhall/angular-firebase-user-profiles/fork" data-icon="octicon-repo-forked" data-count-href="/cliffhall/angular-firebase-user-profiles/network" data-count-api="/repos/cliffhall/angular-firebase-user-profiles#forks_count" data-count-aria-label="# forks on GitHub" aria-label="Fork cliffhall/angular-firebase-user-profiles on GitHub">Fork</a>

    <!-- GITHUB: Issue -->
    <a class="github-button" href="https://github.com/cliffhall/angular-firebase-user-profiles/issues" data-icon="octicon-issue-opened" data-count-api="/repos/cliffhall/angular-firebase-user-profiles#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue cliffhall/angular-firebase-user-profiles on GitHub">Issue</a>

    <!-- GITHUB: Download -->
    <a class="github-button" href="https://github.com/cliffhall/angular-firebase-user-profiles/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download cliffhall/angular-firebase-user-profiles on GitHub">Download</a>

</div>
