<div class="panel panel-primary">

    <!-- HEADER -->
    <div class="panel-heading">

        <!-- ICON -->
            <span class="glyphicon glyphicon glyphicon-eye-open"
                  aria-hidden="true"
                  style="padding-right: 20px"></span>

        <!-- HEADING -->
        <span class="h4">Demo</span>

    </div>

    <!-- PANEL BODY -->
    <div class="panel-body text-justify">

        <!-- PANEL TEXT -->
        <p>Basic profile management, using:</p>
        <ul>
            <li><a href="https://angularjs.org/" target="_blank">Angular 1.x</a></li>
            <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
            <li><a href="http://firebase.com" target="_blank">Firebase</a></li>
        </ul>

    </div>

</div>