<div class="panel panel-primary">

    <!-- HEADER -->
    <div class="panel-heading">

        <!-- ICON -->
            <span class="glyphicon glyphicon glyphicon-pencil"
                  aria-hidden="true"
                  style="padding-right: 20px"></span>

        <!-- HEADING -->
        <span class="h4">Features</span>

    </div>

    <!-- PANEL BODY -->
    <div class="panel-body text-justify">

        <!-- PANEL TEXT -->
        <p>What's in the tin:</p>
        <ul>
            <li>Profile management</li>
            <li>Social sign-in</li>
            <li>Simple navigation</li>
        </ul>
    </div>


</div>
