<!-- FORGOT PASSWORD FORM TEMPLATE-->
<div ng-show="userCtrl.showForm(account.selectedUserForm, account.USER_FORMS.FORGOT_PASS)">

    <!-- FORGOT PASSWORD -->
    <form name="forgotPassword" class="form-signin" ng-submit="userCtrl.sendResetEmail()" >

        <!-- ERROR PANEL -->
        <div ng-include="'app/views/account/error-panel.html'"></div>

        <!-- INFO PANEL -->
        <div ng-include="'app/views/account/info-panel.html'"></div>

        <!-- FORM -->
        <div class="well">
            <!-- EMAIL ADDRESS -->
            <label for="emailInput" class="sr-only">Email address</label>
            <input ng-model="account.emailInput"
                   ng-change="userCtrl.clearMessage()"
                   type="text"
                   id="emailInput"
                   name="emailInput"
                   class="form-control"
                   placeholder="Email Address"
                   required
                   autofocus>
        </div>


        <!-- SEND RESET EMAIL BUTTON -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send Reset Email</button>

    </form>

</div>