<!-- ACCOUNT SCREEN INFO PANEL -->
<div class="alert alert-info alert-dismissible fade in"
     ng-show="account.message && !account.errorState"
     role="alert">

        <!-- CLOSE BUTTON -->
        <button type=button class=close data-dismiss=alert aria-label=Close>
            <span aria-hidden=true>&times;</span>
        </button>

        <!-- ICON -->
        <span class="glyphicon glyphicon glyphicon-info-sign pull-left"
              aria-hidden="true"
              style="padding-right: 20px"></span>

        <!-- HEADING -->
        <span class="h4">Info</span>

        <!-- TEXT -->
        <p>{{account.message}}</p>

</div>
