<!-- FOOTER TEMPLATE -->
<footer class="footer">
    <div class="row">
        <!-- Copyright -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 h5">
            <p>By <a href="http://cliffordhall.com">Cliff Hall</a>. &copy; 2016 <a href="http://futurescale.com">Futurescale, Inc.</a></p>
        </div>
        <!-- Blog link-->
        <div class="col-xs-6 col-sm-6 col-md-6 h5">
            <p class="pull-right">Read the <a href="http://cliffordhall.com/2016/03/user-profiles-angular-firebase/">blog post</a>.</p>
        </div>
    </div>
</footer>